@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/roboto-v18-latin/roboto-v18-latin-regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header {
    padding: 17px 0 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: auto;
    background-color: #0d0a50;
}

a {
    text-decoration: none;
    color: rgb(249, 240, 218);
}

a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: white;
}

form {
    position: relative;
}

.search {
    padding: 5px 30px 0;
    width: 100%;
    background: #0d0a50;
}

.search input:focus {
    border-color: white;
}

.search input {
    background-color: #0d0a50;
    color: white;
    margin: auto;
    font-size: 18px;
    width: 100%;
    height: 52px;
    padding-left: 30px;
    border: 1px solid rgb(249, 240, 218);
}

.search button {
    background-color: transparent;
    border: none;
    height: 52px;
    width: 52px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.search input:focus {
    border-color: white;
}

.list {
    line-height: 40px;
    padding: 20px 35px 20px;
    list-style: none;
}

.list::after {
    margin-top: 20px;
    width: 100%;
    content: "";
    height: 1px;
    background-color: rgb(249, 240, 218);
    display: block;
}

.contact_us {
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 0 35px 15px;

}

.icons {
    margin: auto;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    color: white;
    display: flex;
    padding: 0 35px 20px;

}
.icons2{
    margin-bottom: 12px;
    width: 35%;
    display: inline-block;
}
.icon {
    justify-content: center;
    margin: 0 10px;
}
.icon2 {
    width: 40%;
    display: inline-block;
}
.fb {
    padding-top: 3px;
}

.abs {
    position: absolute;
    top: -6px;
    left: 35px;
}
.title {
    position: relative;
    padding-top: 5px;
    width: 47%;
    display: inline-block;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 21px;
    
}

#idishka:checked~.hidden {
    max-height: 800px;
    font-size: 22px;
}

.inline {
    width: 15%;
   
}


.hidden {
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
}

#idishka {
    display: none;
    width: 20%;
}